:root{
    --yellow-accent: #FFC107;
    --darker-purple: #6d43ac;
    --background-color: #343A40;
    --text: #E1E8EB;
    --lighter-purple: #7952B3;
}
body{
    box-sizing: border-box;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text);
    font-family: 'Roboto Mono', monospace;
}
.test{
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav{
    padding: 10px;
}
section{
    margin: 30px;
}
hr, a:hover{
    color: var(--yellow-accent);
    text-decoration: underline;
}
.underline{
    text-decoration: underline;
}
.intro, .navbar-custom, .img-border{
    box-shadow: 10px 10px var(--darker-purple);
}

a{
    text-decoration: none;
    color: #E1E8EB;
}
.nav-list{
    display: flex;
    list-style: none;
}
.pfp{
    border-radius: 50%;
    width: 55px;
}
.svg:hover{
    filter: invert(88%) sepia(19%) saturate(5445%) hue-rotate(349deg) brightness(98%) contrast(105%);
}
.svg{
    -webkit-filter: invert(100%);
            filter: invert(100%);
    margin-left: 20px;
}
.navbar-custom, .intro {
    background-color: var(--lighter-purple);
}
.intro{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 85vh;
    justify-content: space-evenly;
    padding: 10px;
}
.line{
    width: 3px;
    height: 50vh;
    background-color: var(--yellow-accent);
}
.wrap{
    overflow-wrap: break-word;
    width:  7em;
}
.img-border{
    padding: 5em;
    border: 2px solid var(--lighter-purple);
    width: 75vw;
    height: auto;
}
.work-img{
    opacity: .2;
    z-index: -1;
    position: absolute;
}
.About{
    word-wrap:break-word;
    width: 50em;
    height: 70vh;
}
.contact-text hr{
    margin: auto;
    width: 10em;
    margin-top: 2em;
    margin-bottom: 2em;
}
.contact-text{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
.card {
    box-shadow: 10px 10px var(--background-color);
}
.card-body, .card{
    background-color: var(--lighter-purple) ;
    padding-top: 10px;
    margin: 10px;
}
.skill-icons{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,13em);
    place-items: center;
}
.make-bigg:hover{
    animation: icon-size-change 2s ease-in-out;
    
}
@keyframes icon-size-change{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
button{
    display: none;
}
@media (max-width: 700px){

    nav, .nav-list, .nav-item {
        display: none;        
    }
    .About{
        width: 80%;
        overflow: auto;
    }
    .contact-text .email{
        word-wrap: break-word;
    }
    .card-body{
        overflow: auto;
        word-wrap: none;
    }
    .img-border{
        height: auto;
    }
    .skill-icons, .contact-links{
        display: flex;
        flex-direction: column;
        margin: 5px;
    }
    .intro{
        height: auto;
    }
    .line{
        height:  250px;
    }
    
}




